{% extends 'template_base.html' %}

{% block content %}

<div class="container-fluid px-4">
                        <h1 class="mt-4">Quadro Geral</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="/index_temp">Dashboard</a></li>
                            <li class="breadcrumb-item active">Quadro Geral</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                Aqui você pode ter acesso à todas as tabelas.
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Tabela de Usuários
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>E-mail</th>
                                            <th>Senha</th>
                                            <th>Ação</th>
                                           
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>>Nome/th>
                                            <th>E-mail</th>
                                            <th>Senha</th>
                                            <th>Ação</th>
                                            
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                       
                                            {% for u in usuarios%}
                                    <tr>
                                        <td>{{u.id}}</td>
                                        <td>{{u.nome}}</td>
                                        <td>{{u.email}}</td>
                                        <td>{{u.senha}}</td>
                                        <td>
                                            <a href="/edit/{{u.id}}"> Editar</a>
                                            <a href="/delete/{{u.id}}"> Deletar</a>
                                        </td>
                                    </tr>
                                    {%endfor%}
                                           
                                        
                                    </tbody>
                                
                                    
                                </table>
                            </div>
                        </div>

                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                DaTabela de Usuários
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Código</th>
                                            <th>Quantidade</th>
                                            <th>Preço Unidade</th>
                                            <th>Data Compra</th>
                                            <th>^</th>
                        
                                           
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Código</th>
                                            <th>Quantidade</th>
                                            <th>Preço Unidade</th>
                                            <th>Data Compra</th>
                                            <th>^</th>
                                            
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                       
                                    {% for a in acoes%}
                                        <tr>
                                            <td>{{a.id}}</td>
                                            <td>{{a.nome_acao}}</td>
                                            <td>{{a.codigo_acao}}</td>
                                            <td>{{a.quantidade}}</td>
                                            <td> R${{a.preco_unitario}}</td>
                                            <td>{{a.data_compra}}</td>
                                            <td>
                                                <a href="/edit/{{a.id}}"> Editar</a>
                                                <a href="/delete/{{a.id}}"> Deletar</a>
                                            </td>
                                        </tr>
                                    {%endfor%}
                                        
                                    </tbody>
                                
                                    
                                </table>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                DaTabela de Usuários
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Código</th>
                                            <th>Quantidade</th>
                                            <th>Preço Unidade</th>
                                            <th>Data Compra</th>
                                            <th>^</th>
                        
                                           
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Código</th>
                                            <th>Quantidade</th>
                                            <th>Preço Unidade</th>
                                            <th>Data Compra</th>
                                            <th>^</th>
                                            
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                       
                                    {% for f in fundosImobiliarios%}
                                        <tr>
                                            <td>{{f.id}}</td>
                                            <td>{{f.nome_fii}}</td>
                                            <td>{{f.codigo_fii}}</td>
                                            <td>{{f.quantidade}}</td>
                                            <td> R${{f.preco_unitario}}</td>
                                            <td>{{f.data_compra}}</td>
                                            <td>
                                                <a href="/edit/{{f.id}}"> Editar</a>
                                                <a href="/delete/{{f.id}}"> Deletar</a>
                                            </td>
                                        </tr>
                                    {%endfor%}
                                           
                                        
                                    </tbody>
                                
                                    
                                </table>
                            </div>
                        </div>
                    </div>
{% endblock %}